<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901986916130-udcmn3h5rsej9kqvu1dae0tunth2rioa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901986916130-udcmn3h5rsej9kqvu1dae0tunth2rioa</string>
	<key>API_KEY</key>
	<string>AIzaSyD-oAzw1clF2qN9Qsu-TU8zX5Yt0_V_EZs</string>
	<key>GCM_SENDER_ID</key>
	<string>901986916130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>rudnik-clone-instagram</string>
	<key>STORAGE_BUCKET</key>
	<string>rudnik-clone-instagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901986916130:ios:8216db64e510e85ce8f77b</string>
</dict>
</plist>